<aside>
    <nav>
        <ul>
            <li><a href="./business"><i class="ico xl business"></i><span>Companies</span></a></li>
            <li><a href="./transactions"><i class="ico xl transactions"></i><span>Transactions</span></a></li>
            <li><a href="./reports"><i class="ico xl reports"></i><span>Reports</span></a></li>
            <li><a href="./documents"><i class="ico xl files"></i><span>Files</span></a></li>
            <li><a href="./support"><i class="ico xl support"></i><span>Support</span></a></li>
            <li><a href="./guide"><i class="ico xl guide"></i><span>Guide</span></a></li>
            <li><a href="./profile"><i class="ico xl profile"></i><span>Profile</span></a></li>
            <li><a href="./settings"><i class="ico xl settings"></i><span>Settings</span></a></li>
        </ul>
    </nav>
</aside>